# All failed calls to ./js/global.js are redirected to ./js/aggregator.php

RewriteEngine On
RewriteBase /kishlery/js

RewriteCond %{REQUEST_FILENAME} global.js$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*) aggregator.php [L]