/*
Copyright 2008, 2011 Marcello Mascia

This file is part of Kishlery.

Kishlery is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Kishlery is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Kishlery. If not, see <http://www.gnu.org/licenses/>
*/

html{background:#333;}
body{color:#fff; font-family: Helvetica, Arial, sans-serif; margin:0; height:100%;}
a{color:#004dff; text-decoration:none; outline:none;}
a:hover{text-decoration:underline;}

.header{position:relative; height:25px; margin-bottom:20px;}
.header .links{position:absolute; top:0; right:0; height:25px;}
.header .links a{
	font-size:12px;
	display:block;
	width:105px;
	height:25px;
	line-height:25px;
	text-align:center;
	padding:0 10px;
	background:#222;
	color:#fff;
	float:left;
	margin-right:1px;
}
.header .links a:hover{text-decoration:none; background:#004dff;}
.header .links a.selected{text-decoration:none; background:#444;}

form#settings{
	position:relative;
	padding:0;
	width:800px;
	height:0;
	overflow:hidden;
	margin:0 auto;
}
form#settings fieldset{
	background:#222;
	background:-moz-linear-gradient(-90deg, #222, #000);
	background:-webkit-gradient(linear, left top, left bottom, from(#222), to(#000));
	margin:10px 5px 10px 10px;
	padding:10px;
	border:2px solid #004dff;
	float:left; 
	width:350px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
}
form#settings fieldset legend{color:#004dff; text-align:left;}
form#settings fieldset label{
	display:block;
	overflow:hidden;
	line-height:30px;
}
form#settings fieldset.params label{
	position:relative; 
	padding-left:175px;
	width:175px;
	line-height:25px;
	font-size:12px;
}
form#settings fieldset.params label span{
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:170px;
	line-height:25px;
	height:25px;
	text-align:right;
}
form#settings fieldset.params label.indented span{
	left:195px;
	text-align:left;
	width:150px;
	font-size:10px;
	color:#c0c0c0;
}
form#settings fieldset.params label input.text{
	width:160px;
	font-size:14px;
	padding:2px;
	margin:0;
	border:2px solid #555;
}
form#settings fieldset.params label input.checkbox{vertical-align:middle; margin:0; padding:0;}
form#settings fieldset.params label select{width:160px;}
form#settings input.button{
	clear:both;
	width:100px;
	display:block;
	margin:30px auto;
	border:2px solid #f0f0f0;
	height:40px;
	background:#222;
	color:#fff;
	cursor:pointer;
	font-size:14px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
}
form#settings input.button:hover{background:#004dff;}

#kishlery{width:800px;}

.mask{background:#000; width:100%; height:100%; position:absolute; top:0; left:0; z-index:1000;}
.codeDiv{
	background:#666;
	background:-moz-linear-gradient(-90deg, #666, #222);
	background:-webkit-gradient(linear, left top, left bottom, from(#666), to(#222));
	border:2px solid #999;
	border-top:0;
	position:absolute;
	top:-500px;
	z-index:1010;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-o-border-bottom-left-radius: 10px;
	-o-border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;

	text-align:right;
}
.codeDiv h3{font-size:14px; margin:0; padding:0; line-height:40px; text-align:center;}
.codeDiv textarea{margin:0 10px 10px 10px;}
.codeDiv input.button{
	width:30px;
	height:30px;
	border:0;
	line-height:17px;
	background: url('../img/close.png') no-repeat;
	color:#fff;
	cursor:pointer;
	font-size:10px;
	position:absolute;
	top:10px;
	right:10px;
	text-align:center;
	outline:none;
}